<a href="https://colab.research.google.com/github/aravindhippilli/NSE-Stocks-Data-using-Python/blob/main/Stocks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
I have used a python library to import stocks data from nseindia.com
This module webscraps data from NSE india use API
'''

In [ ]:
from nsetools import Nse
#above python library is used to get data from Nse website
import pandas as pd
#pandas is used to analyze data

def func(stocknames):
    #creating a Nse object
    nse = Nse() 
    out = [] #list of dicts to store each stock data
    for i in stocknames: 
        #get_quote(stockname) will return stocks details
        stock = nse.get_quote(i) 
        d = {} #dict
        d['Symbol'] = i 
        d['Open'] = stock['open']  
        d['High'] = stock['dayHigh']
        d['Low'] = stock['dayLow']
        d['Close'] = stock['closePrice']  
        d['Volume'] = stock['totalTradedVolume']
        d['Delivery Data'] = stock['deliveryQuantity']
        d['Delivery Percentage'] = stock['deliveryToTradedQuantity']
        out.append(d) #appending dict to list
    #converting list to pandas dataframe
    return pd.DataFrame(out)

In [ ]:
func(['RELIANCE', 'HDFCBANK', 'ADANIPORTS', 'ITC', 'SBIN', 'IOC', 'RBLBANK'])

,Symbol,Open,High,Low,Close,Volume,Delivery Data,Delivery Percentage
0,RELIANCE,1981.00,2002.60,1972.50,0.0,5567958.0,1792701.0,36.38
1,HDFCBANK,1458.95,1482.75,1455.00,0.0,11082640.0,6355888.0,63.43
2,ADANIPORTS,765.00,780.00,757.10,0.0,9877934.0,1703291.0,22.22
3,ITC,214.10,214.60,209.65,0.0,30479551.0,14030788.0,55.38
4,SBIN,390.00,392.55,380.05,0.0,70917710.0,17512395.0,27.50
5,IOC,103.10,105.90,102.45,0.0,35764247.0,10739437.0,34.67
6,RBLBANK,201.00,202.95,198.30,0.0,19675919.0,8127155.0,44.63